<div class="footer">
    <div class="logo">
        <img src="/website-tour-main/img/Accom/compo/logo-big.png" alt="">
    </div>
    <div class="contact">
        <h1>Brave New Mongolia</h1>
        <p>Good day to everybody who is intrested in our tours. We are a team of Mongolians that love nature and traveling</p>
        <div class="social">
            <img src="/website-tour-main/img/Accom/compo/social/Frame 48357.png" alt="">
            <img src="/website-tour-main/img/Accom/compo/social/Frame 48358.png" alt="">
            <img src="/website-tour-main/img/Accom/compo/social/Frame 48359.png" alt="">
        </div>
        <li>Phone: +976 8625-6868</li>
        <li>Email: bnmtours@gmail.com</li>
        <li>Address: 17-22, 7-r khoroo, Sukhbaatar District, Ulaanbaatar, Mongolia</li>
    </div>
    <div class="support">
        <h1>Support</h1>
        <li>About us</li>
        <li>Package information</li>
        <li>Terms of Service</li>
    </div>
    <div class="app">
        <h1>Download our mobile app</h1>
        <img src="/website-tour-main/img/Accom/compo/social/play.png" alt="">
        <img src="/website-tour-main/img/Accom/compo/social/app.png" alt="">
    </div>
</div>
<!-- CSS -->
.footer {
    display: flex;
    background-color: #013B7D;
    height: 450px;
    width: 100%;
    color: #fff;
    padding-top: 100px;
    margin-top: 150px;
}
.footer .logo img {
    width: 160px;
    height: 73px;
}
.footer .logo {
    margin-left: 60px;
    margin-right: 200px;
    margin-top: 26px;
    height: 73px;
}
.footer .contact {
    font-family: "SF Pro Display-Medium", Helvetica;
    width: 506px;
    height: 253px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.footer .contact h1 {
    margin-bottom: 24px;
    font-weight: bold;
}
.footer .contact p {
    margin-bottom: 24px;
}
.footer .contact li {
    list-style: none;
    text-align: left;
}
.footer .social {
    margin-bottom: 24px;
}
.footer .support {
    font-family: "SF Pro Display-Medium", Helvetica;
    text-align: left;
    margin-left: 64px;
    margin-right: 180px;
}
.footer .support h1 {
    font-weight: bold;
    margin-bottom: 24px;
}
.footer .support li {
    list-style: none;
    line-height: 32px;
}
.footer .app {
    font-family: "SF Pro Display-Medium", Helvetica;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer .app h1 {
    font-weight: bold;
}
.footer .app img {
    margin-bottom: 4px;
}